
/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: border-box;
}


*:focus {
  outline: 0;
}

html, body, #root {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  display: table;
  width: 100%;
}

body, input, button {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

/* CSS */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #624ac0;
  padding: 50px;
}

.main > .container {
  max-width: 800px;
  max-width: 0 auto;
}

.main .grid {
  display: grid;
  gap: 20px;
  width: 800px;
  margin: 0 auto;
}

.main .grid {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 15vh);
  grid-template-areas:
    "hero   hero   hero   med1   med1"
    "hero   hero   hero   med2   med2"
    "hero   hero   hero   big1  big1"
    "med3   med3   small1  big1 big1"
  ;
}

/* .main .grid > .card { 
  height: 300px;
  width: 300px;
} */

.main .grid > .card:nth-child(6n+1)  { grid-area: hero; }
.main .grid > .card:nth-child(6n+2)  { grid-area: big1; }
.main .grid > .card:nth-child(6n+3)  { grid-area: med1; }
.main .grid > .card:nth-child(6n+4)  { grid-area: med2; }
.main .grid > .card:nth-child(6n+5)  { grid-area: med3; }
.main .grid > .card:nth-child(6n+6)  { grid-area: small1; }
/* .main .grid > .card:nth-child(10n+7)  { grid-area: small3; } */
/* .main .grid > .card:nth-child(10n+8)  { grid-area: small4; } */
/* .main .grid > .card:nth-child(10n+9)  { grid-area: small5; } */

.main .grid > .card > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.main .search {
  margin-bottom: 50px;
  text-align: left;
  width: 100%;
  display: flex;
  align-items: center;

}

.main .search > input {
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: 600;
  color: #b0a4df;
  margin-left: 10px;
}

.main .search > input::placeholder {
  color: #b0a4df;
  font-weight: 600;
}